{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
<div class="container">
<h1 class="text-center">Mon Panier</h1>

{% if items | length > 0 %}
    <table class="table">
        <thead>
            <tr>
                <th  class="text-center">Produit</th>
                <th  class="text-center">Nom</th>
                <th  class="text-center">Prix</th>
                <th  class="text-center">Quantité</th>
                <th  class="text-center">Total</th>
                <th  class="text-center">Suppression</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td  class="align-middle text-center"><img src="{{vich_uploader_asset(item.menu,'imageFile')}}" alt="{{item.menu.nom}}"></td>
                    <td  class="align-middle text-center">{{item.menu.nom}}</td>
                    <td  class="align-middle text-center">{{item.menu.prix | number_format(2, '.', ',')}}&euro;</td>
                    <td  class="align-middle text-center">{{item.quantity}}</td>
                    <td  class="align-middle text-center">{{(item.menu.prix  * item.quantity) | number_format(2, '.', ',')}}&euro;</td>
                    <td  class="align-middle text-center">
                        <a href="{{path('panier_remove', {'id' : item.menu.id})}}" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" class="">Total : </td>
                <td class="text-center">{{total | number_format(2, '.', ',')}}&euro;</td>
            </tr>
        </tfoot>

    </table>
    <div class="text-center">
        <a href="{{path('panier_result')}}" class="btn btn-success">Acheter</a>
    </div>
    
    {% else %}
    <p class="panier text-center">Le panier est vide!!! Veuillez commander des articles</p>
{% endif %}    
</div>
{% endblock %}
