{% extends 'base.html.twig' %}

{% block title %}Page de {{user.username}}{% endblock %}

{% block body %}

    <div class="container">
        <div class="row align-items-center">
            <div class="col-3 text-center">
                <img src="{{user.picture}}" class="avatar mb-3" alt="avatar de {{user.username | capitalize}}">
                <br>
            </div>
            <div class="col-9">
                <h1>{{user.username | capitalize}}</h1>
                    <div class="mt-3">
                        <a href="{{path('account_profile')}}" class="btn btn-primary mr-2 mb-2">Modifier mes informations</a>
                        <a href="{{path('account_password')}}" class="btn btn-primary mb-2">Modifier mon mot de passe</a>
                    </div>
            </div>
        </div>

    </div>

{% endblock %}
